//Placeholders and classes: ;

///Button placeholder
%btn {
  display: inline-block;
	background: $darkgrey;
	border-radius: 5px;
	border-style: double;
  color: rgb(250, 244, 244);
  text-decoration: none;
  padding: 5px;
  font-family: "Poiret One", cursive;
  font-size: 11pt;
}
