@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  background: yellow; }

.card {
  padding: 1.5em;
  margin-bottom: 1.5em; }
  @media (min-width: 62em) {
    .card {
      display: grid;
      grid-column-gap: 1.5em;
      box-shadow: 2px 10px 10px 5px #f7f5f5;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content auto;
      grid-template-areas: "img title" "img content"; } }
  .card h2 {
    grid-area: title;
    max-height: 100px; }
  .card div {
    grid-area: content; }
    .card div h1 {
      display: inline-block;
      font-size: 12pt;
      font-weight: normal; }
  .card figure {
    grid-area: img; }
    .card figure img {
      width: 100%; }

.main-content {
  min-height: 100vh;
  margin-bottom: 1em;
  padding: 1em; }
  @media (min-width: 62em) {
    .main-content .portfolio {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 20px; } }
  .main-content .portfolio .portfolio-item {
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    transition: 300ms;
    background: black; }
    .main-content .portfolio .portfolio-item:hover {
      color: white;
      text-shadow: 2px 5px 10px #aa2929; }

.portfolio-item.small {
  color: red;
  grid-column: span 1;
  grid-row: span 1; }

.portfolio-item.medium {
  color: #8d5858;
  grid-column: span 2;
  grid-row: span 2; }

.portfolio-item.large {
  color: #2eaa3f;
  grid-column: span 3;
  grid-row: span 3;
  z-index: 10; }

.portfolio-item.tall {
  color: #b700ff;
  grid-column: span 2;
  grid-row: span 3; }

.portfolio-item.wide {
  color: #e5ff00;
  grid-column: span 3;
  grid-row: span 2; }

.portfolio-item.large.with-image {
  position: relative;
  background-image: url("/images/portree.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10; }
  .portfolio-item.large.with-image:hover {
    opacity: 0.8; }

@media (min-width: 62em) {
  body {
    display: grid;
    grid-template-rows: 10em 50vh auto 10em;
    grid-template-columns: 1fr minmax(30em, 5fr) minmax(5em, 2fr) 1fr;
    grid-template-areas: "header header header header" "hero hero hero hero" ". main side ." "footer footer footer footer"; } }

body header {
  grid-area: header; }

body .hero {
  grid-area: hero; }

body .main {
  grid-area: main; }

body aside {
  grid-area: side; }

body footer {
  grid-area: footer; }

header {
  width: 100%;
  height: 10em;
  background: #0a0a0a;
  position: relative;
  padding-top: 1.5em; }
  header .toggle span:nth-of-type(1) {
    width: 75px;
    background: #faf9f9;
    display: block;
    height: 2px;
    padding: 1px;
    padding-top: 10px;
    margin-left: 1em;
    border-radius: 7px; }
  header .toggle span:nth-of-type(2) {
    width: 75px;
    background: #faf9f9;
    height: 2px;
    display: block;
    padding: 6px;
    margin-top: 10px;
    margin-left: 1em;
    border-radius: 7px; }
  header .toggle span:nth-of-type(3) {
    width: 75px;
    background: #faf9f9;
    height: 2px;
    display: block;
    padding: 6px;
    margin-top: 10px;
    margin-left: 1em;
    border-radius: 7px; }

#navID {
  transition: transform .3s ease-in-out;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  position: fixed;
  width: 300px;
  left: -340px;
  background: #56b8e6; }
  #navID > a {
    position: relative;
    left: 80%;
    padding: 20px;
    font-size: 20pt;
    color: white; }
  #navID li a {
    padding: 2px;
    display: block;
    font-size: 24pt;
    color: white; }
    #navID li a:hover {
      color: red; }
  #navID:target {
    transform: translateX(340px); }
  #navID h1 {
    text-align: center;
    color: white;
    padding-top: 1.5em;
    display: none; }

@media (min-width: 40em) {
  header {
    background: black; }
    header .toggle {
      display: none; } }

@media (min-width: 40em) {
  #navID {
    min-height: auto;
    position: relative;
    width: 100%;
    left: 0%;
    background: #010d13; }
    #navID > a {
      display: none; }
    #navID ul {
      display: flex;
      justify-content: center;
      align-content: flex-end; }
    #navID li a {
      padding: 10px;
      font-size: 24pt;
      color: white; }
      #navID li a:hover {
        color: red; }
    #navID h1 {
      display: block; } }

body {
  grid-template-columns: repeat; }

.hero {
  background-image: url("/images/scotland.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }

footer {
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white; }

aside {
  margin: 1em; }
  aside p {
    margin-top: 1em; }
