 /* Universal selector - Om standardinställningar inte kan läsas in, används inställningar nedan.*/

* {
    font-family: Merriweather;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;      /* Detta innebär att ingen/inga divs kan bli större än den största behållaren?  */
    
    }

/* ALLA typ selectors - formaterar alla element inom den typen */

body{
    background-color: #e9967e;
}

ul {
    list-style-type: none;               /* tar bort prickar framför listor*/
}

article {
    background-color: slategrey;
    margin: 1em;
    text-align: left;
    }

aside {
    background-color: pink;
}

footer {
    text-align: center;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

 /* ALLA class selectors - formaterar den specificerade klassen */

.container {
    background-color: ;
    text-align: center;      /* centrerar text */
    max-width: 800px;        /* hindrar att inga element i behållaren blir större än 800px */
    margin: auto;           /* ser till att innehållet förblir centrerat*/
}

.logo {
    text-align: left;
}

.next {
    text-align: left;
}


/* ALLA typer av "Descendent class selectors"  */
   /* Formatering av NAV */
        /* Av typen "Descendent class selectors" ev. skulle typ selector nav fungerat lika väl */

.mainlist ul
{
text-align: center;
background-color: #333
}

nav ul {            /* gör NAV listan horinsontal, då flex har flex-direction som "default" */
    display: flex; 
}
                    /* formaterar menyn med padding, flex och centreras. */
nav ul li {
               
    text-align: center;
    flex-grow: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Formatering av NAVs länkar */
    /* PADDING = ökar området runt själva innehållet, i det här fallet länkarna */
    /* MARGIN = ökar området runt själva elementet. Alltså länkarna inklusive padding+border */
.mainlist a {
    color: white;
}

.mainlist a:link {
    padding:28px;              /* padding innebär att varje länk i nav blir åtskilda 
                                ifrån varandra. Kan justeras både i höjd och sidled. Borde finnas bättre sätt?  */
    color: white; 
}

.mainlist a:hover {
color: #555;
}


  /* Formatering av ARTIKEL-element */
.syndicate {
border-bottom: 3px solid purple;
}

article p {
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

article header {
    text-align: center;
    padding: 0.5em;
    color: purple;
}

article footer {
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
}

  /* Formatering av aside-element */
aside ul li {
    margin: 0.5em;      /* ökar avståndet från länkar till artikel?? */
    padding: 0.5em;     /* ????  */
}
    
.blogsummary a:hover {       /* detta skulle kunna ersättas med aside a:hover eftersom den enda länkarna 
                            i aside-element är de vi vill färga. */
    color: red;             
}

 /* Exempel på användning av pseudo-class selector */
 a:link {
    text-decoration: none;       /* tar bort <u> på alla länkar */
     }

/* Exempel på använding av "Child selector" - Denna selector används när du vill markera alla taggar som återfinns 
inom ett visst element. Ex. alla inline-element som finns i en aside ska färgas gula.  */

aside > span {
    color: yellow;
}

/* Exempel på använding av "Adjacent sibling selector" - Denna selector används när du vill markera varje tagg 
som kommer efter en specifik tagg, där båda taggarna har samma föräldrer.  */

/* eftersom mina rubriker ligger i en <ul> kunde jag inte skriva h2+h3
utan var tvungen att specificera att listelementet som alltid kommer efter första 
listelementet ska selectas. ALT:   */
.logo ul li + li  {        
    color: #99CD30;
    text-align: left;
}

/*Exempel på använding av "General sibling selector" - Denna selector används när du vill markera alla element 
som kommer direkt efter en föregående tagg, där båda taggarna delar samma föräldrer. Ex. alla länkar som finns
inuti ett inline-element ska färgas vita om det föregås av ett annat inline inuti ett footer-element. */

footer span ~ span a {
    color: white;
}