.models {
position: relative;
width: 100%;
margin: 10px;
    img:first-of-type {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
    h2 {
        text-align: center;
        text-shadow: 1px 1px rgb(160, 152, 152);
        color: black;
        margin: 3px;
    }
    p {
        text-align: left;
        padding: 5px 10px;
    }
    img:last-of-type {
        @extend p;
    }
    span {
        position: absolute;
        top: 4%;
        left: 5%;
        text-shadow: 1px 1px rgb(160, 152, 152);
    }
    a {
        button {
            @extend %btn;
            position: absolute;
            left: 50%;
            
           
        }
    }
}