.card {
    padding: 1.5em;
    margin-bottom: 1.5em;
    @include respond-to(large){
    display: grid;
    
    grid-column-gap: 1.5em;
    box-shadow: 2px 10px 10px 5px rgb(247, 245, 245);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto;
    grid-template-areas: "img title" "img content";
}
    h2 {
        grid-area: title;
        max-height: 100px;
    }
    div {
        grid-area: content;
        h1 {
            display: inline-block;
            font-size: 12pt;
            font-weight: normal;
        }
    }
    figure {
        grid-area: img;
        img {
            width: 100%; ///ser till att bilden anpassar sig till sin container
        }
    }

}

