.social {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  i {
      margin: 10px;
  }
  
  i:nth-of-type(1) {
    &::after {
      @include icon(youtube, rgb(48, 26, 24));
    }
  }
  i:nth-of-type(2) {
    &::after {
      @include icon(facebook, rgb(177, 126, 201));
    }
  }
  i:nth-of-type(3) {
    &::after {
      @include icon(instagram, rgb(179, 207, 53));
    }
  }
  i:nth-of-type(4) {
    &::after {
      @include icon(twitter, rgb(56, 15, 240));
    }
  }
  
}
